@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-text-color: #6247AA;
    --bg-color: rgb(251, 252, 253);
    --read-color: #495057;
}

header {
    height: 80px;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    margin: auto;
    width: 80%;
}

.nav-logo {
    font-size: 28px;
    font-weight: 600;
    color: var(--main-text-color);
    cursor: pointer;
}

.nav-logo a {
    text-decoration: none;
}

.nav-hamburger {
    display: none;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar ul li a {
    display: block;
    color: var(--read-color);
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    text-decoration: none;
}

.navbar ul li a i {
    margin-right: 5px;
}

.navbar ul li a:hover {
    background-color: rgb(228, 228, 228);;
}

.navbar ul li a.active {
    color: var(--bg-color);
    font-weight: 500;
    background-color: var(--main-text-color);
}

.account-button {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    margin: auto;
    color: var(--read-color);
}

main {
    width: 80%;
    margin: auto;
}

.auth {
    max-width: 600px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
}

.page-title h1 {
    font-weight: 600;
    font-size: 24px;
}

.page-title p {
    color: rgb(117, 117, 117);
    font-size: 16px;
}

.page-title p a {
    text-decoration: none;
}

.auth-form {
    width: 100%;
    margin: auto;
}

.auth-form form {
    display:flex;
    flex-direction: column;
    gap: 10px;
}

input {
    position: relative;
    display: flex;
    width: 100%;
    align-items: stretch;
    box-sizing: border-box;
    height: 40px;
    border-radius: 20px;
    color: #0d1216;
    border: 1px solid;
    border-color: rgba(43,59,74,0.3);
    padding: 0 12px;
    cursor: text;
    overflow: hidden;
    margin: auto;
    margin-bottom: 5px;
}

label {
    text-align: left;
    font-size: 13px;
    font-weight: 500;
}

.button {
    border: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 45px;
    max-width: 100%;
    min-width: 80px;
    padding: 0 6px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    background-color: #6247AA;
    font-weight: 600;
    transition: 0.3s;
    font-size: 16px;
    padding: 10px 25px;
}

.button i {
    margin-right: 10px;
}

.login-button {
    border: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 40px;
    max-width: 100%;
    min-width: 80px;
    padding: 0 6px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    background-color: #6247AA;
    font-weight: 600;
    transition: 0.3s;
    margin-top: 10px;
    width: 100%;
}

.button:disabled,
.button[disabled]{
    background-color: #9163CB;
}

.button:disabled:hover,
.button[disabled]:hover{
    background-color: #9163CB;
}

.button:hover, .navbar ul li a.active:hover {
    background-color: #7251B5;
}

input:disabled, input[disabled] {
    background-color: rgb(248, 248, 248) !important;
    cursor: default !important;

}

a {
    color: var(--main-text-color);
}

.forgot-button {
    text-align: right;
    text-decoration: none;
    color: var(--main-text-color);
}

.error-box {
    padding-top:3px;
    padding-bottom: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-left: 5px solid rgb(179, 37, 37);
    background-color: #f1554d;
    color: white;
    border-radius: 4px;
}

.success-box {
    padding-top:3px;
    padding-bottom: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-left: 5px solid #1c753a;
    background-color: #209948;
    color: white;
    border-radius: 4px;
}

.error-box h1, .success-box h1 {
    font-weight: 500;
    font-size: 16px;
}

.error-box p, .success-box p {
    font-size: 14px;
}

.account-mobile-button {
    display: none !important;
}

.account-menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.account-menu {
    cursor: pointer;
    border-radius: 50px;
}

.menu {
    position: fixed;
    top: 50px;
    right: 30px;
    display: none;
}

.main-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.application-list {
    width: 100%;
    overflow: auto;
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
}

.application-list img {
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    margin-top: 10px;
}

.application-list h5 {
    font-weight: 500;
    font-size: 16px;
}

.application-list p {
    font-weight: 400;
    font-size: 14px;
}

.application-list .enterprise {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #eef0f3;
}

tr:last-child {
    border-bottom: none;
}

thead td {
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(248, 248, 248);
    text-align: start;
    padding: 15px;
}

tbody tr td {
    padding: 10px 15px;
    line-height: 1px;
}

.status {
    color: white;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 20px;
    line-height: 20px;
}

.status.sent {
    background-color: #6147aa96;
}

.status.accept {
    background-color: #5fb85c;
}

.status.again {
    background-color: #e0a245;
}

.status.rejected {
    background-color: #e77d6f;
}

.pill-button {
    border-radius: 50px;
    width: 40px;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 40px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    background-color: #6147aad3;
    font-weight: 600;
    transition: 0.3s;
    margin-top: 10px;
    border: none;
}

.pill-button:hover {
    background-color: var(--main-text-color);
}

.pill-button.info:hover {
    background-color: #6147aa71;
}

.pill-button.info {
    background-color: #6147aa3a;
}

.application-list .action div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 1045px) {
    header {
        width: 90%;
    }

    main {
        width: 90%;
    }
    
    .nav-hamburger {
        display: block;
        cursor: pointer;
    }

    .nav-hamburger .line {
        width: 30px;
        height: 3px;
        background-color: var(--main-text-color);
        margin: 6px 0;
    }

    .navbar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: rgb(253, 254, 255);
        transition: 0.2s;
        overflow: hidden;
    }

    .navbar.active {
        height: 450px;
    }

    .navbar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .navbar.active ul {
        opacity: 1;
    }

    .navbar ul li a {
        margin-bottom: 12px;
    }

    main.active {
        margin-top: 500px;
    }

    .account-button {
        display: none;
    }

    .account-mobile-button {
        display: block !important;
    }

    .account-menu {
        display: none;
    }
}