@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-text-color: #6247AA;
    --bg-color: rgb(251, 252, 253);
}

header {
    height: 80px;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    margin: auto;
}

.nav-logo {
    font-size: 28px;
    font-weight: 600;
    color: var(--main-text-color);
    cursor: pointer;
}

.nav-logo a {
    text-decoration: none;
}

.nav-hamburger {
    display: none;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar ul li a {
    display: block;
    color: var(--main-text-color);
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background: #E9ECEF;
}

.navbar ul li a.active {
    color: #F8F9FA;
    background: var(--main-text-color);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    margin: auto;
}

main {
    width: 80%;
    margin: auto;
}

.auth {
    max-width: 600px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
}

.page-title h1 {
    font-weight: 600;
    font-size: 24px;
    color: #0d1216;
}

.page-title p {
    color: rgb(117, 117, 117);
    font-size: 16px;
}

.page-title p a {
    text-decoration: none;
}

.auth-form {
    width: 100%;
    margin: auto;
}

.auth-form form {
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.auth-form form input {
    position: relative;
    display: flex;
    width: 100%;
    align-items: stretch;
    box-sizing: border-box;
    height: 40px;
    border-radius: 4px;
    color: #0d1216;
    border: 1px solid;
    border-color: rgba(43,59,74,0.3);
    padding: 0 12px;
    cursor: text;
    overflow: hidden;
    margin: auto;
    margin-bottom: 5px;
}

label {
    text-align: left;
    font-size: 13px;
    font-weight: 500;
}

.login-button {
    border: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 40px;
    max-width: 100%;
    min-width: 80px;
    padding: 0 6px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    background-color: #6247AA;
    font-weight: 600;
    transition: 0.3s;
    margin-top: 10px;
    width: 100%;
}

.login-button:disabled,
.login-button[disabled]{
    background-color: #9163CB;
}

.login-button:disabled:hover,
.login-button[disabled]:hover{
    background-color: #9163CB;
}

.login-button:hover {
    background-color: #7251B5;
}

input:disabled, input[disabled] {
    background-color: rgb(248, 248, 248) !important;
    cursor: default !important;

}

a {
    color: var(--main-text-color);
}

.forgot-button {
    text-align: right;
    text-decoration: none;
    color: var(--main-text-color);
}

.error-box {
    padding-top:3px;
    padding-bottom: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-left: 5px solid rgb(179, 37, 37);
    background-color: #f1554d;
    color: white;
    border-radius: 4px;
}

.success-box {
    padding-top:3px;
    padding-bottom: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-left: 5px solid #1c753a;
    background-color: #209948;
    color: white;
    border-radius: 4px;
}

.error-box h1, .success-box h1 {
    font-weight: 500;
    font-size: 16px;
}

.error-box p, .success-box p {
    font-size: 14px;
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {
    .nav-hamburger {
        display: block;
        cursor: pointer;
    }

    .nav-hamburger .line {
        width: 30px;
        height: 3px;
        background-color: var(--main-text-color);
        margin: 6px 0;
    }

    .navbar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: rgb(253, 254, 255);
        transition: 0.2s;
        overflow: hidden;
    }

    .navbar.active {
        height: 450px;
    }

    .navbar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .navbar.active ul {
        opacity: 1;
    }

    .navbar ul li a {
        margin-bottom: 12px;
    }

    main.active {
        margin-top: 500px;
    }
}